[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=~/eclipse-installer/eclipse-inst/icon.xpm
Exec=~/eclipse-installer/eclipse-inst/eclipse
Terminal=false
Categories=Development;IDE;Java;
StartupWMClass=Eclipse
