where_is_scripts = "scripts/"

options = {
    "install": ["<package_to_install>", "Install one of the packages"],
    "console": ["no", "Run Yapi with the terminal question installer"],
    "update": ["no", "Pull the newest YAPI version from github"],
    "cache": ["no", "Recreate the cache"],
    "help": ["no", "Information about YAPI"]
}

scripts_to_ignore = {"test.sh", "updateYapiScripts.sh"}

yes_answer = ("Y", "Yes", "y", "yes")

no_answer = ("N", "No", "n", "no")
